.link {
  display: inline-block;
  text-decoration: none;
  padding: 6px;
  font-weight: 700;
}

.link.active {
  color: #e84a5f;
}

@media screen and (min-width: 768px) {
  .link {
    font-size: 26px;
    padding: 12px;
  }
}
